@charset "UTF-8";

h1 {
	font-size:18px;
	font-weight:900;
	color:rgb(48,48,48); /* hexcode : #303030 */
	line-height:30px;
}

th {
	
	text-align:center; /*justify*/
	font-size:16px;
	font-weight:600;
	color:#3333b0; /* rgb(51, 51, 176) */
}

a, a:visited {
	color:rgb(80,176,176);
	text-decoration: none;
	font-weight:800; 
}

img { 
	width:100px;
	/* height:200px;*/ 
	height:auto; /*명시적 표현*/
}